<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>登陆页面</title>
  <link rel="stylesheet" href="css/Login.css" type="text/css"/>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="viewjs/Login.js"></script>
</head>
<body>
  <div class="top_div"></div>
  <div style="background: rgb(255, 255, 255); margin: -100px auto auto; border: 1px solid rgb(231, 231, 231); border-image: none; width: 400px; height: 200px; text-align: center;">
    <div style="width: 165px;height: 96px; position: absolute;">
      <div class="tou">
        <div class="initial_left_hand" id="left_hand"></div>
        <div class="initial_right_hand" id="right_hand"></div>
      </div>
    </div>
    <p style="padding: 30px 0px 10px; position: relative;">
      <span class="u_logo"></span>
      <input class="ipt" type="text" placeholder="请输入用户名或邮箱" value=""/>
    </p>
    <p style="position: relative;">
      <span class="p_logo"></span>
      <input class="ipt" id="password" type="password" placeholder="请输入密码" value=""/>
    </p>
    <div style="height: 50px; line-height: 50px; margin-top: 30px; border-top-color: rgb(231, 231, 231); border-top-width: 1px; border-top-style: solid;">
      <p style="margin: 0px 35px 20px 45px;">
        <span style="float: left;">
          <a style="color: rgb(204, 204, 204);" href="#">忘记密码?</a>
        </span>
        <span style="float: right;">
          <a style="color: rgb(204, 204, 204); margin-right: 10px;" href="#">注册</a>
        </span>
      </p>
    </div>
    <div style="text-align:center;">

    </div>
  </div>
</body>
</html>